/*CENG311 Activity 2 css file*/

/*styling for the table goes here*/
body 
{
	width: 750px;
	margin: 0 auto;
}

.container{
	border: 2px solid black;
}

.banner{
	text-align: center;
}

table 
{
	border-collapse: collapse;
	border: 1px solid black;
	margin: 20px auto;
}

thead 
{
	background-color: yellow;
}

th, td 
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}

#item1,#item2,#item3
{
	font-weight: bold;
	background-color: white;
	vertical-align: top;
}

tbody tr:nth-child(even) td 
{
	background-color: yellow;
}



.right{
	text-align: right;
}

.bold{
	font-weight: bold;
}